

.event-details-container {
    margin: 80px auto;
    width: 90%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #111111;
    box-shadow: 2px 10px 15px 4px black;
    border-top: 2px solid #0daaa2;
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
}

.event-details-buttons {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.event-details-container button,
.event-details-buttons button {
    background-color: #0daaa2;
    border: none;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    padding: 12px 0px;
    margin-right: 15px;
    width: 100px;
    border-radius: 2px;
    /* border-bottom: 2px solid #0daaa2; */
    box-shadow: 3px 3px 10px 0px #000000;
}

.event-details-buttons button:nth-child(2){
    margin-left: auto;
}

.event-details-buttons button:focus {
    outline: 0;
}

.event-details-buttons button:active {
    background-color: #0daaa250;
}


.event-details-info-container {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.event-details-severity {
    width: 100%;
    padding: 0px 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px #000000;
    color: black;
    font-weight: 900;
    font-family: 'Alata', sans-serif;
}

.event-details-warning {
    background-color: #0070b1;
}

.event-details-minor {
    background-color: #d8d400;
}

.event-details-major {
    background-color: #e46600;
}

.event-details-critical {
    background-color: #ff0000;
}

.event-details-info-box {
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-details-info-left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.event-details-info-left p {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: #222222;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 15px;
    min-height: 54px;
    margin-top: 2px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* .event-details-info-left p:hover {
    background-color: #1d1d1d;
} */

/* .event-details-info-left p::before {
    content: "•";
    color: #0daaa2;
    display: inline-block;
} */

.event-details-info-right {
    flex-basis: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* .event-details-info-right p {
    text-align: left;
    margin-top: 0;
} */


.event-details-label {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
}

.event-details-services {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    border-radius: 2px;
    width: 100%;
    margin-top: 2px;
    /* height: 100%; */
    min-height: 50%;
    cursor: pointer;
}

.event-details-services p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 100%;
    background-color: #222222;
    text-align: center;
    padding: 10px 0;

}
