@import '../Variables.scss';
@import '../Mixins.scss';

.event-details-container {
    position: relative;
    margin: 50px auto;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: $main-color;
    box-shadow: 2px 10px 15px 4px black;
    border-top: 2px solid $text-color;
    color: $text-color;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
}

.delete-event-popup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 90px;
    background-color: $main-color;
    border-radius: 3px;
    border: 1px solid $text-color;
    z-index: 10;

    p {
        color: $text-color

    }

    .delete-event-popup-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            @include button-1;
        }
    }
}

.popup-hidden {
    display: none;
}

.event-details-buttons {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details-container button,
.event-details-buttons button {
    @include button-1;
    border: 2px solid $main-color;
    border-radius: 2px;
}

.event-details-buttons button:nth-child(1){
    margin-right: auto;
}

.event-details-buttons button:focus {
    outline: 0;
}

.event-details-buttons button:active {
    opacity: 0.5;
}


.event-details-info-container {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.event-details-severity {
    width: 100%;
    padding: 0px 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px #000000;
    color: $main-color;
    font-weight: 900;
    font-family: 'Alata', sans-serif;
}

.event-details-warning {
    background-color: $warning-color;
}

.event-details-minor {
    background-color: $minor-color;
}

.event-details-major {
    background-color: $major-color;
}

.event-details-critical {
    background-color: $critical-color;
}

.event-details-info-box {
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-details-info-left {
    
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
    box-sizing: border-box;
}

.event-details-info-left p {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: $secondary-color;
    border-radius: 2px;
    color: $text-color;
    padding: 15px;
    min-height: 54px;
    margin-top: 2px;
    margin-bottom: 25px;
    cursor: pointer;
}

.event-details-info-right {
    flex: 1 1 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
    box-sizing: border-box;
}

.event-details-label {
    color: $text-color;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
}

.event-details-services {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    border-radius: 2px;
    width: 100%;
    margin-top: 2px;
    /* height: 100%; */
    min-height: 50%;
    cursor: pointer;
}

.event-details-services p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 100%;
    background-color: $secondary-color;
    text-align: center;
    padding: 15px;
    border-radius: 2px;

}

@media (max-width: 1024px) {
    .event-details-buttons button:nth-child(1) {
        margin-right: 2px;
    }

    .event-details-buttons {
        justify-content: flex-start;
        padding: 10px 15px;
    }

    .event-details-info-container {
        margin-top: 5px;
    }

    .event-details-severity {
        font-size: 1rem;
        padding: 3px 0;
    }

    .event-details-label {
        font-size: 0.7rem;
        margin-bottom: 2px;
    }

    .event-details-info-left p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

    .event-details-info-left p {
        padding: 8px 5px;
        min-height: 34px;
    }

    .event-details-info-left,
    .event-details-info-right {
        padding: 0;
    }

    .event-details-services p {
        padding: 8px 5px;
        font-size: 0.8rem;
    }
}
