@import '../Mixins.scss';
@import '../Variables.scss';

.payment-page-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    span {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
          .payment-button {
              @include button-1;
              font-size: 1.5rem;
              margin-top: 10px;
              width: 100%;
              background-color: $accent-color;
          }
    }

    .payment-container {
        padding: 20px 40px;
        width: 80%;
        background-color: $main-color;
        opacity: 0.9;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2px;
        box-shadow: 3px 3px 10px 0px #000000;
    }

    .subscription-details-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    h2 {
        color: $text-color;
        padding: 20px 0;
        width: 100%;
        background-color: #6d121e;
        margin-bottom: 50px;
    }

    h3 {
        color: $text-color;
        // background-color: $accent-color;
        padding: 20px 0;
        width: 100%;
        font-size: 1.7rem;
        display: none;
    }

    .subscription-details-row{
        width: 100%;
        height: 100%;
        padding: 5px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-color;
        background-color: $main-color;
        margin-bottom: 25px;
        border-bottom: 1px solid $accent-color;

        p {
            margin: 0;
            
        }

        svg {
            font-size: 2.1rem;
            color: #167516;
        }
    }

    .subscribe-options-container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .subscribe-option{
            background-color: $accent-color;
            width: 49.5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 30px 10px;
            cursor: pointer;

            p{
                color: $text-color;
                font-size: 2.5rem;
                margin: 0;
                text-shadow: 1px 1px #000000;

            }

            .price {
                // width: 250px;
                // height: 250px;
                // margin: 30px 0;
                // border-radius: 50%;
                // background-color: #004700;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 3.5rem;
                    color: #005500;
                    text-shadow: 1px 1px #000000;
                }
            }

            span {
                width: 100%;
                margin: auto;
            }

        }

        // .subscribe-option-1 {
        //     background-color: #9e8d41;
        // }

        // .subscribe-option-2 {
        //     background-color: #457697;
        // }

        .subscribe-option-highlighted {
            background-color: #b69e17;
        }

    }
}

.payment-page-wrapper::before {
    content: '';
    position: absolute;
    background-image: url('../img/dark-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: 0;
  }


