.page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-content {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.severity-box {
    padding: 3px;
    margin: auto;
    color: black;
}

.severity-warning {
    background-color: #0070b1;
    box-shadow: 0px 0px 6px 1px#0070b1;
}

.severity-minor {
    background-color: #d8d400;
    box-shadow: 0px 0px 6px 1px#d8d400;
}

.severity-major {
    background-color: #e46600;
    box-shadow: 0px 0px 6px 1px #e46600;
}

.severity-critical {
    background-color: #ff0000;
    box-shadow: 0px 0px 6px 1px #ff0000;
}

.rules-table-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    box-shadow: 2px 10px 15px 4px black;
    border-top: 2px solid #0daaa2;
    border-radius: 2px;
}

.content-table {
    background-color: #ffffff;
    border-collapse: collapse;
    font-size: 1rem;
    width: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.content-table thead tr{
    background-color: #0daaa2;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}

.content-table th,
.content-table td{
    padding: 8px 10px;
    text-align: left;
}

.content-table td > * {
    vertical-align : middle;
}

.content-table tbody tr {
    border-bottom: 1px solid #cecece;
}

.rules-row td:nth-child(3),
.content-table thead th:nth-child(3){
    text-align: center;
}

.rules-table tbody tr:nth-child(2n){
    background-color: #dbdbdb;
}

.content-table tbody tr:hover {
    background-color: #c0c0c0;
}


.rules-table-nav {
    background-color:  #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    /* border-bottom: 5px solid #161616;*/
}

.rules-table-nav p {
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #ffffff;
}

.filters-container {
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.select-filter::before,
.select-filter::after{
    box-sizing: border-box;
}

.select-filter {
    margin-right: 30px;
    height: 40px;
    width: 120px;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: none;
    color: #ffffff;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #1d1d1d;
    box-shadow: 0px 3px 5px 2px black;
}

.buttons-container {
    display: flex;
    flex-basis: 150px;
    height: 40px;
    box-shadow: 0px 3px 5px 2px black;
}

.buttons-container button{
    background-color: #161616;
    color: white;
    width: 70px;
    border: none;
    cursor: pointer;
    margin-right: 0px;
}

.buttons-container button:focus {
    outline: 0;
}

.buttons-container button:active{
    /* color: #0daaa2; */
    opacity: 0.9;
}

.buttons-container button:nth-child(1){
    background-color: #202020;
}

.buttons-container button:nth-child(2){
    background-color: #0070b1;
}

.buttons-container button:nth-child(3){
    background-color: #d8d400;
}

.buttons-container button:nth-child(4){
    background-color: #e46600;
}

.buttons-container button:nth-child(5){
    background-color: #ff0000;
}

.buttons-container button:hover{
    transform: scale(1.04);
}

.priority-container {
    margin: auto 0;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    vertical-align: middle;
}

.priority-box {
    width: 30px;
    height: 15px;
    margin-right: 5px;
}

.priority-box:nth-child(1) {
    background-color: green;
    box-shadow: 0px 0px 1px 1px green;
}

.priority-box:nth-child(2) {
    background-color: green;
    box-shadow: 0px 0px 1px 1px green;
}

.priority-box:nth-child(3) {
    background-color: #d8d400;
    box-shadow: 0px 0px 1px 1px #d8d400;
}

.priority-box:nth-child(4) {
    background-color:#e46600;
    box-shadow: 0px 0px 1px 1px#e46600;
}

.priority-box:nth-child(5) {
    background-color:red;
    box-shadow: 0px 0px 1px 1px red;
}

