@import '../Variables.scss';
@import '../Mixins.scss';


.rule-page-container > * {
    box-sizing: border-box;
}

.rule-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .rule-form-container {
        width: 100%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $main-color;
        border-radius: 5px;
        border-top: 2px solid $accent-color;
    }

    .rule-form-header {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .rule-form-header p{
        background-color: $secondary-color;
        color: $text-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 1.5rem;
        width: 250px;
        padding: 20px 0;
        box-shadow: 2px 5px 15px 2px black;
        margin-right: auto;
    }
    
    .rule-form-header button {
        @include button-1;
        margin-right: 2%;
    }

    .rule-inputs-container{
        width: 90%;
        height: 100%;
        /* background-color: #1a1a1a; */
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }


    .rule-inputs-validation {
        @include validation-msg;
    }
    
    .validation-message-hidden {
        display: none;
    }

    .rule-inputs {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 400px;
    }

    .rule-inputs-row {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 5px;
    }

    .direction-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .rule-inputs-column {
        width: 49.5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    

    .rule-inputs-select {
        @include input-1;
        cursor: pointer;
        padding: 15px 15px;
        border: 2px solid transparent;
        box-sizing: border-box;
        height: 55px;
    }

    .rule-inputs-input {
        @include input-1;
    }

    .rule-inputs-label {
        @include input-label;
    }

    .rule-inputs-severity-buttons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .rule-inputs-severity-buttons button{
        padding: 20px 20px;
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        border: none;
        color: $text-color;
        font-weight: bolder;
        cursor: pointer;
        text-align: center;
        // box-shadow: 3px 3px 10px 0px #000000;
        border-radius: 2px;
    
        &:focus {
            outline: none;
        }
    
        &:active {
            opacity: 0.5;
        }
        width: 24.2%;
        padding: 15px;
    }

    .rule-inputs-button-warning {
        background-color: $warning-color !important;
    }
    
    .rule-inputs-button-minor {
        background-color: $minor-color !important;
        color: black !important;
    }
    
    .rule-inputs-button-major {
        background-color: $major-color !important;
    }
    
    .rule-inputs-button-critical {
        background-color: $critical-color !important;
    }

    .column-49 {
        width: 49.5%;
    }

    .column-25 {
        width: 24.25%;

        .rule-inputs-select {
            height: 51px;
        }
    }

    .add-rule-button {
        @include button-1;
        align-self: flex-end;
        margin: 25px 0;
        margin-right: 2%;
    }
}

@media (max-width: 1024px) {
    .rule-page-container .rule-form-header p {
        display: none;
    }

    .rule-page-container .rule-form-header {
        padding: 5px 0;
    }

    .rule-page-container .rule-form-header button {
        margin-left: 15px;
    }

    .rule-page-container .rule-inputs-container {
        padding: 0;
    }

    .rule-page-container .column-25 .rule-inputs-select {
        height: 45px;
    }

    .rule-page-container .rule-inputs-severity-buttons button {
        font-size: 0.6rem;
        padding: 10px 0px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .rule-page-container .rule-inputs-severity-buttons {
        margin-top: 3px;
    }

    .rule-page-container .rule-inputs-select {
        height: 25px;
    }
}