@import '../Variables.scss';
@import '../Mixins.scss';

.tasks-page-container > * {
    box-sizing: border-box;
}

.tasks-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tasks-container {
        box-sizing: border-box;
        width: 100%;
        min-height: 100vh;
        margin-top: 50px;
        background-color: #111111;
        border-top: 2px solid $text-color;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2px;
    }

    .tasks-header-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        padding-right: 30px;

        .tasks-header {
            background-color: $secondary-color;
            color: $text-color;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 1.5rem;
            width: 250px;
            padding: 20px 0;
            box-shadow: 2px 5px 15px 2px black;
        }

        button {
            @include button-1;
        }
    }

    .tasks-content-container{
        position: relative;
        width: 95%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $text-color;
            top: 0;
            left: 0;

        }

        .tasks-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 5px;

            .tasks-content-panel {
                width: 95%;
                padding: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                p {
                    margin: 0;
                    padding: 10px 0;
                    color: $text-color;
                    font-size: 1.3rem;
                }
                button {
                    width: 100px;
                    padding: 15px 20px;
                    background-color: $secondary-color;
                    border: none;
                    border: 1px solid $main-color;
                    font-weight: bold;
                    color: $text-color;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:active {
                        opacity: 0.5;
                    }
                }

            }
        }

        .tasks-content:nth-child(1) {
            flex: 1 1 65%;
        }

        .tasks-content:nth-child(2) {
            flex: 1 1 450px;
        }
    }

}