@import '../Variables.scss';


.task-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #333333;
    cursor: pointer;
}

.task-container-expanded {
    border: 1px solid $text-color;
}

.task-header-container {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $secondary-color;
    box-sizing: border-box;
    color: $text-color;

    .task-status-box{
        width: 25px;
        height: 25px;
        border-radius: 2px;
        margin-right: 25px;
        cursor: default;
    }

    .task-closed {
        background-color: #1a7516;
    }

    .task-active {
        background-color: #9c160c;
        position: relative;

        // &::after {
        //     content: '+';
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        //     transform: translateY(-50%);
        // }
    }

    .task-details {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        margin-right: auto;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1rem;
            font-weight: bolder;

            &:nth-child(2) {
                font-size: 0.8rem;
                font-weight: 400;
                color: $text-color2;
            }
        }
    }

    .task-arrow-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding: 0 20px;
        cursor: pointer;
        color: $text-color;

        &:hover {
            color: $text-color2;
        }
    }
}

.task-expanded-container {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.task-expanded-details {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .task-expanded-details-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;
        font-size: 1.2rem;
        letter-spacing: 1px;

        p {
            margin: 10px 0;
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: $text-color;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 1px;
            background-color: $text-color;
        }
    }

    .task-expanded-details-info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 10px;

        div {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 10px 0;

            p {
                margin: 0;
                color: $text-color2;
            }


            button {
                padding: 8px 20px;
                border: none;
                border-radius: 2px;
                box-sizing: border-box;
                background-color: $text-color2;
                color: $main-color;
                font-weight: bold;
                cursor: pointer;


                &:focus {
                    outline: none;
                }

                &:active {
                    opacity: 0.5;
                }

                &:hover {
                    background-color: $text-color;
                }
            }

            label {
                margin: 0;
                color: $text-color;
                margin-bottom: 5px;
            }

            &:nth-child(1)::after,
            &:nth-child(2)::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
                background-color: $text-color;
            }
        }
    }
}


.task-update-container {
    margin: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #272727;
    background-color: $secondary-color;
}

.task-update-header {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #272727;
    box-sizing: border-box;
    background-color: #1f1f1f;


    .task-update-status {
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        label {
            margin: 0;
            color: $text-color;
        }

        p {
            margin: 0;
            color: $text-color2;
            font-size: 0.7rem;
        }

        span {
            margin: 0;
        }

        .span-status-400 {
            color: #a72920;
        }

        .span-status-200 {
            color: #006b05;
        }

        .span-status-100 {
            color: #54bb00;
        }
    }

    .update-desc {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        height: 100%;
        color: $text-color2;
        font-size: 1rem;
    }

}

.task-update-details-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #242424;
    padding: 5px 0;

    .task-update-details {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: relative;

        label{
            color: $text-color;
            margin-bottom: 5px;
        }

        p {
            margin: 0;
            color: $text-color2;
        }

        &:nth-child(1)::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 80%;
            background-color: $text-color;
        }
    }
}

