@import './Variables.scss';

@mixin button-1{
    padding: 20px 50px;
    width: 180px;
    background-color: $secondary-color;
    border: none;
    color: $text-color;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 10px 0px #000000;

    &:focus {
        outline: none;
    }

    &:active {
        opacity: 0.5;
    }
}