$main-color: #111111;
$secondary-color: #222222;
$accent-color: #1a1a1a;
$text-color: #dbc8af;
$text-color2: #a89378;

$warning-color: #2a49b1;
$minor-color: #ddcb2c;
$major-color: #e4880f;
$critical-color: #6d121e;

$table-row1: #dddddd;
$table-row2: #cfcfcf;
$table-border: #c0c0c0;

